/* This styles the common elelment of the whole website */
body{font-family: 'Source Sans Pro', sans-serif; background-color: rgb(240, 241, 241); }
h1{font-size: 64px; }
h2{ font-size: 48px}
h3{font-size: 24px; line-height: 40px;}
h4{font-size: 35px;}
p{font-size: 16px; line-height: 26px; margin-top: -10px;}
button {padding: 5px 20px; font-size: 16px; color: blue; border-radius: 3px;}
/* common element styles end */

/* This contains all header styles including the nav bar and first-section-flexbox */
    header { background-color: rgb(255,60,60); 
    justify-content: center; position: relative; display: flex; width:100%; height: 677px;}
        /* navigation styles for link anchors */
        nav{position:absolute; 
            justify-content:center;
            padding-top: 30px;}
        nav a{color:darkblue;
            text-decoration: none; 
            margin-right: 10px;} 
        /* end of navigation styles */
        /* start of first flexbox styles */
        .first-section-flexbox{ display: flex; 
            justify-content: center; 
            width: 100%; 
            align-items: center;}
        
        .graphic img{width: 500px; 
            height: 438px; 
            padding-left: 70px;}
        .title-main{text-align: left;  margin-left:40px}
        header:hover .graphic img {transform: rotate(20deg); transform-origin: top left;}
        .graphic img{transition: 1s;}
        /* end of first-section-flexbox styles */
/* header styles end */

/* main stying for all sections */

    /* start section: grid-main styling */
    .grid-main{display: flex; 
        justify-content: center; 
        position:relative}
    
    /* this styles the grid properties */
    .player-grid{               
        display:grid; 
        position: relative;
        grid-template-columns: repeat(3, 1fr); /* grid template columns 1fr 1fr 1fr */
        grid-gap: 30px; /* grid gap is spacing between the cells */
        margin-top: 70px;  }

    /* this styles the individual grid cells  */
    .player-cell{display: flex; 
        background-color:#e50019;
        width: 330px; 
        height: 474px; 
        justify-content: center;
        box-shadow: 5px 8px 30px #2a3b59;  
        align-items: center;}

    /* this styles the cell content as a whole */
    .player-img-text{width: 300px; 
        height: 426px;}

    /* this styles only the image of the cells */
    .player-cell img{width: 300px;  
        height: 256px;
        margin-bottom: -15px; 
        margin-top: -5px;
        }
    /* End section:player-grid styling */


    /* start venue section styling */
    .venue-box {display: flex;
        margin-top: 300px;
        justify-content: center; 
        position: relative;
        width: 100%; 
        align-items: center; 
        margin-bottom: 100px;}
    .venue-head {display: flex; position: relative; top: -250px; right: -500px;}
    .stadium-photo {border: 2px solid black; 
        overflow:hidden;
        width: 800px; 
        height: 340px;}
    .stadium-photo img {width: 800px; 
        height: 340px; }
    .stadium-text{color: white;
        background: rgba(0, 0, 0, 0.322); 
        position: absolute; 
        left:-100%; 
        top:0 ; 
        height: 100%;
        width:100%;  
        box-sizing: border-box;
        transition: all 0.8s; }

    .venue-box:hover .stadium-text {left:0}
    /* end second section style */
    

    /* start styling flag section */
    .flag{ display:flex; 
        justify-content: center; 
        align-items: center; 
        margin-bottom: 100px;}
    .flag-img img{width: 100%; 
        height: 500px;}
    .flag-img img:hover{transform: scale(1.2)}
    .flag-img img {transition: 2s;}
    .flag-text {text-align: center; 
        padding-top: 200px;}
    /* end style */


    /* Start footer elements styles */
    .socials{width:100%; 
        justify-content:space-between;
        text-align: center; 
        font-size: 30px; 
        position: relative;}
    .socials::visited {color:blue}
    .footer-copyright{justify-content: center; text-align: center;}
    /* End Footer elements style */



    
